
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000000;
    background-image: url('../img/background.jpg');
    background-size: 100%;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform:uppercase;
    width:100%;
}

h1 {
    font-weight: bold;
    margin-top: 20px;
    overflow:visible;
    padding:0px;
    text-align:center;
    background-color: red;
    font-size: 25px;
}

.home_input_username {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 50%;
    width: 80%;
    height: 30%;
}

.home_input_password {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    width: 80%;
    height: 30%;
}

.home_input_fullname {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 50%;
    width: 80%;
    height: 30%;
}

.home_input_email {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    width: 80%;
    height: 30%;
}

.login_submit {
    width: 50%;
    height: 40%;
    background-color: #4CAF50;
    color: white;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10%;
    font-size: 30px;
}

.signup_submit {
    width: 50%;
    height: 40%;
    background-color: #4CAF50;
    color: white;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5%;
    font-size: 30px;
}

.search_input {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 5%;
    width: 80%;
    height: 30%;
}

.Title_button {
    width: 27%;
    height: 30%;
    color: black;
    background-color: white;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
    float:left;
    margin-left: 10%;
}

.Author_button {
    width: 27%;
    height: 30%;
    color: black;
    background-color: white;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
    float:left;
}

.Genre_button {
    width: 27%;
    height: 30%;
    color: black;
    background-color: white;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
    float:left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr {
    background-color: #dddddd;
  }